.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    padding: 10px;
    justify-content: center;


}
.popup-container .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.popup-container img {
    justify-self: center;
    width: 90%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;   

}

.popup-container h1 {
    font-size: 24px;
    color: #333;
   
    
}
.popup-container p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 10px;
   padding: 10px;
}